<div 
  [ngClass]="{'list-side-panel': true, 'opened': opened}"
>
  <div class="list-side-panel-header">
    <h5 class="list-side-panel-title">Members</h5>
    <i 
      [ngClass]="{
        'bi': true, 
        'bi-arrow-left-circle': !closeButtonHovered, 
        'bi-arrow-left-circle-fill': closeButtonHovered,
        'close': true
      }"
      (mouseenter)="closeButtonHovered = true"
      (mouseleave)="closeButtonHovered = false"
      (click)="onClosePanelClick()"
    ></i>
  </div>

  <div 
    class="scrollbar"
    style="max-height: 646px;"
  >
    <ul class="list-group list-group-numbered">
      <li 
        *ngFor="let member of members; let i = index"
        [ngClass]="{
          'list-group-item': true, 
          'list-group-item-action': true,
          'd-flex': true, 
          'justify-content-between': true,
          'align-items-start': true,
          'active': member.selected
        }"
        (click)="onClickMember(i)"
      >
        <div class="ms-2 me-auto w-100">
          <div class="fw-bold">
            {{ member.firstName }} {{ member.lastName }}
          </div>
          <span class="fs-6 fst-italic">{{ member.address }}</span>
          <div class="mt-2 d-flex justify-content-between">
            <button class="btn btn-outline-primary btn-sm" (click)="$event.stopPropagation(); onEditMember.emit(i);">Edit</button>
            <button class="btn btn-outline-danger btn-sm" (click)="$event.stopPropagation(); onDeleteMember.emit(i)">Delete</button>
          </div>
        </div>
      </li>
      <!-- <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Subheading</div>
          Content for list item
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Subheading</div>
          Content for list item
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
      </li> -->
    </ul>
  </div>
</div>